* {
  margin: 0;
  font-family: 'open sans', sans-serif;
}

/* banner styles */
.banner {
  box-sizing: 1600px 808px;
  display: flex;
  float: right;
  align-items: center;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  line-height: 100%;
  line-height: 76px;
  margin-bottom: 24px;
}

.banner-description {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
}

.btn-primary {
  background-color: rgba(241, 91, 34, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
  font-style: normal;
}

/* main section */
.main{
  text-align: left;
}
.year{
}

.main .pic-1 {
  max-width: 570px;
  max-height: 720px;
}
.main .year{
  max-width: 416px;
  max-height: 400px;
  margin: 0 auto;
}
/* previous year section style */
.plans h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.plans-info-container {
  display: flex;
  justify-content: space-around;
}
.plans .plans-info {
  font-size: 30px;
  color: #151414;
}
.plans-title{

}
.plans-description{
  font-size: 25px;
  text-align: center;
  color: #737272;
}

